.side-bar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: white;
    width: auto;
    height: 100vh;
    overflow-y: scroll;
    padding: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.side-bar:hover {
    transition: all .5s
}
header {
    display: flex;
    gap: 15px;
    padding: 1rem;
}

.remove-scroll {
    overflow: hidden;
}
.drop-down-side-bar {
    margin-bottom: 50px;

    h5 {
        color: #293241;
        padding: 0;
        margin: 0;
        margin: 20px 0;
        padding: 0 10px;
    }

    ul {
        padding: 0;
        margin: 0;
        padding: 0 10px;
    }

    li {
        color: #14b8a6;
        list-style: none;
        margin: 20px 0;
        display: flex;
        gap: 15px;
        font-family: sans-serif;
        overflow: hidden;
        height: 1.2rem;
    }

    .v-enter-active,
    .v-leave-active {
        transition: opacity 0.1s ease;
    }

    .v-enter-from,
    .v-leave-to {
        opacity: 0;
    }

}